<%= simple_form_for(event, remote: true) do |f| %>
    <div class="card-block">
      <%= f.input :title %>
      <%= f.input :start_date_jalali, input_html: {class: 'ltr', value: event.start_date } %>
      <%= f.input :start_date, as: :hidden %>
      <%= f.input :end_date_jalali, input_html: {class: 'ltr', value: event.end_date } %>
      <%= f.input :end_date, as: :hidden %>
      <%= f.input :description %>
      <%= f.input :color, input_html: {class: 'ltr', style: 'width: 77%;', readonly: true, 'data-palette' => ''} %>
    </div>
    <div class="card-footer">
      <%= f.submit t('buttons.save_event'), class: 'btn btn-outline-primary btn-block' %>
    </div>
<% end %>