<h4 class="card-header"><%= t('title.show_event') %></h4>
<div class="card-block">
  <dl>
    <dt><%= Event.human_attribute_name :title %></dt>
    <dd><%= @event.title.to_farsi %></dd>
    <dt><%= Event.human_attribute_name :start_date_jalali %></dt>
    <dd><%= farsi_date @event.start_date_jalali.to_farsi %></dd>
    <dt><%= Event.human_attribute_name :end_date_jalali %></dt>
    <dd><%= farsi_date @event.end_date_jalali %></dd>
    <dt><%= Event.human_attribute_name :description %></dt>
    <dd><%= @event.description.to_farsi %></dd>
    <dt><%= Event.human_attribute_name :author %></dt>
    <dd><%= @event.author_name %></dd>
    <% if @event.edited_by_name %>
        <dt><%= Event.human_attribute_name :edited_by %></dt>
        <dd><%= @event.edited_by_name %></dd>
    <% end %>
  </dl>
</div>
<div class="card-footer text-center" style="padding: 5px;">
  <%= link_to icon('trash') + t('links.delete_event'), @event, method: :delete, class: 'btn btn-outline-danger btn-sm', id: 'delete_event' %>
  <%= link_to icon('edit') + t('links.edit_event'), edit_event_path, class: 'btn btn-outline-info btn-sm', id: 'edit_event' %>
  <%= link_to icon('share-alt') + t('links.share_event'), @event, method: :delete, class: 'btn btn-outline-success btn-sm', id: 'share_event' %>
  <%= link_to icon('plus-square-o') + t('links.new_event'), new_event_path, class: 'btn btn-outline-primary btn-sm', id: 'new_event' %>
</div>
<script type="text/javascript" charset="utf-8">
  $('#delete_event').on('click', function (event) {
    event.preventDefault();
    href = $(this).attr('href') + '.json';
    $.ajax({
      url: href,
      type: 'DELETE',
      success: function (data) {
        console.log(data.eventId);
        $('#event_' + data.eventId).detach();
        load_new_event_panel();
      }
    })
    return false;
  });
  $('#edit_event').on('click', function (event) {
    event.preventDefault();
    href = $(this).attr('href');
    load_edit_event_panel(href, '<%= @event.id.to_s %>');
    return false;
  });
  $('#share_event').on('click', function (event) {
    event.preventDefault();
    return false;
  });
  $('#new_event').on('click', function (event) {
    event.preventDefault();
    load_new_event_panel();
    return false;
  });
</script>
